<div class="app-admin">

  <!-- ############################# -->
  <!-- #           Header            -->
  <!-- ############################# -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-toolbar">
      <h1>SRPS</h1>
      <div>
        <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
          <mat-icon>fullscreen</mat-icon>
        </button>
        <button mat-button>Logout</button>
      </div>
    </div>
  </mat-toolbar>

  <!-- ############################# -->
  <!-- #           Sidebar           -->
  <!-- ############################# -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedInViewport="true" [opened]="true">
      <mat-nav-list>

        <!-- # Home -->
        <h3 mat-subheader>Main Category</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>home</mat-icon>
          <a href="#">Home</a>
        </mat-list-item>

        <!-- # Appearance -->
        <h3 mat-subheader>Apperance</h3>
        <mat-accordion multi="true">

          <!-- Students -->
          <mat-expansion-panel
          class="sidenav-links"
          expanded="{{ getCurrentUrl('student') }}">
            <mat-expansion-panel-header>Students</mat-expansion-panel-header>
            <a mat-list-item routerLink="/admin/add-student" routerLinkActive="active">
              <mat-icon mat-list-icon>add</mat-icon>
              Add Student
            </a>
            <a mat-list-item routerLink="/admin/manage-students" routerLinkActive="active">
              <mat-icon mat-list-icon>settings</mat-icon>
              Manage Students
            </a>
          </mat-expansion-panel>

          <!-- # Classes -->
          <mat-expansion-panel
          class="sidenav-links"
          expanded="{{ getCurrentUrl('class') }}">
            <mat-expansion-panel-header>Classes</mat-expansion-panel-header>
            <a mat-list-item routerLink="/admin/add-class" routerLinkActive="active">
              <mat-icon mat-list-icon>add</mat-icon>
              Create Class
            </a>
            <a mat-list-item routerLink="/admin/manage-classes" routerLinkActive="active">
              <mat-icon mat-list-icon>settings</mat-icon>
              Manage Classes
            </a>
          </mat-expansion-panel>

          <!-- # Subjects -->
          <mat-expansion-panel
          class="sidenav-links"
          expanded="{{ getCurrentUrl('subject') }}">
            <mat-expansion-panel-header>Subjects</mat-expansion-panel-header>
            <a mat-list-item routerLink="/admin/add-subject" routerLinkActive="active">
              <mat-icon mat-list-icon>add</mat-icon>
              Create Subject
            </a>
            <a mat-list-item routerLink="/admin/manage-subjects" routerLinkActive="active">
              <mat-icon mat-list-icon>settings</mat-icon>
              Manage Subjects
            </a>
          </mat-expansion-panel>

          <!-- # Result -->
          <mat-expansion-panel
          class="sidenav-links"
          expanded="{{ getCurrentUrl('result') }}">
            <mat-expansion-panel-header>Result</mat-expansion-panel-header>
            <a mat-list-item routerLink="/admin/add-result" routerLinkActive="active">
              <mat-icon mat-list-icon>add</mat-icon>
              Add Result
            </a>
            <a mat-list-item routerLink="/admin/manage-results" routerLinkActive="active">
              <mat-icon mat-list-icon>settings</mat-icon>
              Manage Results
            </a>
          </mat-expansion-panel>

          <!-- # Profile -->
          <mat-expansion-panel class="sidenav-links">
            <mat-expansion-panel-header>Profile</mat-expansion-panel-header>
            <a mat-list-item href="#">
              <mat-icon mat-list-icon>settings</mat-icon>
              Change Password
            </a>
          </mat-expansion-panel>

        </mat-accordion>

      </mat-nav-list>
    </mat-sidenav>

    <!-- ############################# -->
    <!-- #           Content           -->
    <!-- ############################# -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
