// stretch to screen size in fullscreen mode
.app-admin {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/**
*
* Toolbar
*
*/
.mat-toolbar {
  z-index: 10;
  position: relative;
  .mat-icon {
    cursor: pointer;
  }

  .app-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

}

/**
*
* Sidenav
*
*/
.mat-sidenav {
  width: 250px;
  padding-top: 70px;
}

.mat-drawer {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}
.mat-nav-list {
  h3 {
    color: #a5a5a5;
    text-transform: uppercase;
    font-size: 11px;
  }
}

.mat-expansion-panel {
  &:not([class*=mat-elevation-z]) {
    border-bottom: 1px dashed #d7d7d7;
    box-shadow: none;

  }
  &.mat-expanded {
    background: #f0f0f0;
  }
}

.active-expansion {
  background: #f0f0f0;
}

.mat-expansion-panel-spacing {
  margin: 1px 0;
}

::ng-deep .sidenav-links .mat-expansion-panel-body {
  padding: 0;
  a {
    font-size: 14px;
    padding-left: 20px;
    margin-top: -10px;
    .mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }

  .active {
    color: #3f50b5;
  }

}

/**
*
* Content
*
*/
.mat-drawer-content{
  padding: 25px;
}
