<h1 class="heading-1">Home</h1>


<mat-grid-list cols="4" rowHeight="2:1">

  <mat-grid-tile>
    <mat-card>
      <div>
        <mat-icon mat-list-icon>school</mat-icon>
      </div>
      <div>
        <b>{{ students_number }}</b>
        Students
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <div>
        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
      </div>
      <div>
        <b>{{ subjects_number }}</b>
        Subjects
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <div>
        <mat-icon mat-list-icon>account_balance</mat-icon>
      </div>
      <div>
        <b>{{ classes_number }}</b>
        Classes
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <div>
        <mat-icon mat-list-icon>functions</mat-icon>
      </div>
      <div>
        <b>{{ results_number }}</b>
        Results
      </div>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
