// Fonts
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

// Custom Themes
@import './assets/custom-themes/reset';

// Material
@import '~@angular/material/theming';

// Pages
@import './app/auth/auth-theme';

// Shared
@import './app/shared/layout/header/header-theme';

@include mat-core();

$primary: mat-palette($mat-indigo, 500);
$accent:  mat-palette($mat-indigo, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include header-theme($theme);
