<h1 class="heading-1">Create Student Class</h1>
<mat-card class="card-form">

  <form [formGroup]="classForm">
    <mat-form-field>
      <input matInput placeholder="Text Name" maxlength="15" formControlName="name_text" required>
      <mat-hint>Eg- Third, Fouth,Sixth etc</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput #className maxlength="3" placeholder="Numerical Name" formControlName="name_numeric" required>
      <mat-hint>{{className.value?.length || 0}}/3 - Eg- 1,2,4,5 etc</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput #section maxlength="1" placeholder="Section" formControlName="section"  required>
      <mat-hint>{{section.value?.length || 0}}/1 - Eg- A,B,C etc</mat-hint>
    </mat-form-field>


    <button mat-raised-button color="primary" (click)="addItem()">
      <mat-icon mat-list-icon>add</mat-icon>
      Submit
    </button>
  </form>

</mat-card>
