<h1 class="heading-1">Add a Subject Combination</h1>

<mat-card class="card-form">

  <form [formGroup]="combinationForm">

    <!-- Subject -->
    <mat-form-field>
      <mat-select placeholder="Select Subject" formControlName="subject" required>
        <mat-option *ngFor="let subject of subjects" [value]="subject._id">
          {{subject.name}}
        </mat-option>
      </mat-select>
      <mat-error>Subject Field is <b>required</b></mat-error>
    </mat-form-field>

    <!-- Class -->
    <mat-form-field>
      <mat-select placeholder="Select Class" formControlName="classe" required>
        <mat-option *ngFor="let classe of classes" [value]="classe._id">
          {{classe.name_text}} - Section({{classe.section}})
        </mat-option>
      </mat-select>
      <mat-error>Class Field is <b>required</b></mat-error>
    </mat-form-field>

    <!-- Status -->
    <p>
      <mat-slide-toggle formControlName="status">Slide</mat-slide-toggle>
    </p>

    <button mat-raised-button color="primary" (click)="addItem()">
      <mat-icon mat-list-icon>add</mat-icon>
      Submit
    </button>

  </form>

</mat-card>
