<h1 class="heading-1">Manage Classes</h1>
<mat-card>

  <!-- # Filter and Add Button -->
  <mat-grid-list class="table-filter" cols="2" rowHeight="90">

    <mat-grid-tile class="table-search">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile class="table-add">
      <a mat-raised-button color="primary" routerLink="/admin/add-class">
        <mat-icon mat-list-icon>add</mat-icon>
        New Class
      </a>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- # Table -->
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="className">
        <mat-header-cell *matHeaderCellDef> Class Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.className}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="classNameNumeric">
        <mat-header-cell *matHeaderCellDef> Class Name Numeric </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.classNameNumeric}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="section">
        <mat-header-cell *matHeaderCellDef> Section </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.section}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="creationDate">
        <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.creationDate}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</mat-card>
