<!-- Error -->
<app-list-errors *ngIf="isValid" [errors]="backEndErrors" class="alert alert-danger"></app-list-errors>

<!-- Login -->
<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">

      <!-- Email -->
      <div formGroupName="emailGroup">
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email" required>
          <mat-error>{{ errors.email }}</mat-error>
        </mat-form-field>
      </div>

      <div formGroupName="passwordGroup">
        <mat-form-field>
          <input matInput #pass placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="confirmValidParentMatcher" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error>{{ errors.password }}</mat-error>
        </mat-form-field>
      </div>

      <p class="loginButtons">
        <button type="submit" mat-raised-button color="primary" [disabled]="!authForm.valid">Login</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>
