<h1 class="heading-1">Create Student Class</h1>
<mat-card class="card-form">

  <form [formGroup]="classForm">
    <mat-form-field>
      <input matInput placeholder="Text Name" minlength="3" maxlength="15" formControlName="name_text" required>
      <mat-hint>Eg: Third, Fouth, Sixth etc</mat-hint>
      <mat-error>Text Name has to be between 3 &amp; 15 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Numerical Name" formControlName="name_numeric" required>
      <mat-hint>Eg: 1, 2, 4, 5 etc</mat-hint>
      <mat-error>Numerical Name has to be between 1 &amp; 10</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput #section maxlength="1" placeholder="Section" formControlName="section" required>
      <mat-hint>Eg: A, B, C etc</mat-hint>
      <mat-error>Section has to be only <b>1</b> character</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addItem()" [disabled]="!classForm.valid">
      <mat-icon mat-list-icon>add</mat-icon>
      Submit
    </button>
  </form>

</mat-card>
