:host {
  display: table;
  justify-content: center;
  margin: 72px auto;
  max-width: 700px;
  width: 700px;
}

mat-card {
  box-shadow: 0px 0px 13px 0px rgba(0,0,0, 0.1) !important;
  padding: 0;
  width: 100%;
  border: 1px solid #c2c2c2;

  h1 {
    background: #e6e6e6;
    padding: 15px;
    text-align: center;
  }

  b {
    width: 150px;
  }

}

mat-list {
  padding-top: 0;
}

.footer-result {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}
